body {
    background-image: url("/assets/homescreen.png");
    background-size: 100vw 100vh;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.icon {
    width: 32px;
    height: 32px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 99vw;
    height: 80vh;
}

.menuButton {
    border: 2px solid black;
    border-radius: 10px;
    background: black;
}

#leftArrow {
    rotate: 180deg;
}

#hideButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 6vh;
    border: none;
    background-color: #87ab69;
    font-size: 20px;
}

#fleeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 6vh;
    border: none;
    background-color: #ff2c2c;
    font-size: 20px;
}